/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    width: 100vw;
    height: auto;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

/* ......................... End whole css ................. */

.as-course-container {
    margin: 0 auto;
    max-width: 1320px;
}

/* banner css */
.as-course-container-fluid {
    background-color: black;
    padding: 16px;
}

.as-course-container h1 {
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 62px;
    font-weight: 600;
}

/* ................................................ Course Archive Page ...................................................... */
.as-course-list {
    list-style-type: none;
    padding: 50px 0px;
}

.as-course-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.as-course-list li a {
    text-decoration: none;
    color: black;
}

/* ............................................... User Data ..................................................... */
.as-course-horizontal-card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.as-course-horizontal-card .as-course-row {
    display: flex;
    flex-wrap: nowrap;
}

.as-course-horizontal-card .as-course-col-sm-five {
    flex: 0 0 40%;
    max-width: 40%;
    position: relative;
    border-right: 1px solid #ddd;
}

.as-course-horizontal-card .as-course-col-sm-five h6 {
    margin: 0;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    font-family: 'dashicons';
    letter-spacing: 1.5px;
}

.as-course-horizontal-card .as-horizontal-card-img {
    width: 100%;
    height: auto;
}

.as-course-horizontal-card .as-course-col-sm-seven {
    flex: 0 0 60%;
    max-width: 60%;
}

.as-course-horizontal-card .as-horizontal-card-body {
    padding: 10px 10px 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.as-course-horizontal-card .as-horizontal-card-body-title {
    margin: 0;
    font-size: 26px;
    font-weight: 500;
    color: #000000;
    text-transform: capitalize;
}

.as-course-horizontal-card .as-horizontal-card-body-txt {
    margin: 0;
    color: #666666;
    font-size: 18px;
    font-weight: 400;
}

/* ...................................... Course Single Page sidebar css ......................................... */

.as-navbar {
    z-index: 2;
    width: 80px;
    max-width: 4rem;
    background-color: #fff;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .3s ease;
    border: 1px solid #000000;
    overflow-y: auto;
}

.as-navbar .as-navbar-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.as-navbar .as-navbar-container .as-course-label-wrapper {
    padding: 1rem;
    background-color: #8AAAE5;
}

.as-navbar .as-navbar-container .as-navbar-course-div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.as-navbar .as-navbar-container .as-navbar-course-div .as-navbar-toggler {
    transition: .2s ease-in-out;
    color: #fff;
}

.as-navbar .as-navbar-container .as-navbar-course-div .as-navbar-toggler i {
    font-size: 1rem;
}

.as-sildebar-chapter-list .as-section-accordion-sidebar-grand-grandchild .section-link,
.as-sildebar-chapter-list .as-topic-accordion-sidebar-grandchild .topic-link,
.as-sildebar-chapter-list .as-lesson-accordion-sidebar-child .lesson-link,
.as-sildebar-chapter-list .as-sidebar-chapter-accordion-parent .chapter-link,
.as-navbar .as-navbar-container .as-navbar-course-div .as-navbar-logo-link,
.wp-block-post-title,
.as-sildebar-chapter-list,
.as-quiz-questions,
#as-overlay,
.as-quiz-result-processing,
.as-quiz-feedback-results-wrapper {
    display: none;
}

.as-navbar.active {
    width: 350px;
    max-width: 20%;
}

.as-navbar.active .as-navbar-container .as-navbar-course-div {
    justify-content: space-between;
    padding-left: 1rem;
}

.as-navbar.active .as-sildebar-chapter-list .as-section-accordion-sidebar-grand-grandchild .section-link,
.as-navbar.active .as-sildebar-chapter-list .as-topic-accordion-sidebar-grandchild .topic-link,
.as-navbar.active .as-sildebar-chapter-list .as-lesson-accordion-sidebar-child .lesson-link,
.as-navbar.active .as-sildebar-chapter-list .as-sidebar-chapter-accordion-parent .chapter-link,
.as-navbar.active .as-navbar-container .as-navbar-course-div .as-navbar-logo-link {
    display: block;
}

.as-sildebar-chapter-list .as-sidebar-chapter-accordion-parent,
.as-sidebar-chapter-quiz-accordion {
    background-color: #666666;
    color: #ffffff;
    padding: 18px;
    font-size: 18px;
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.as-sildebar-chapter-list .as-lesson-accordion-sidebar-child,
.as-single-chapter-lesson-quiz-sidebar-accordion {
    background-color: #8AAAE5;
    color: #ffffff;
    max-width: 98%;
    padding: 18px;
    font-size: 18px;
    margin: 2px 0px 0px 20px;
    display: none;
}

.as-sildebar-chapter-list .as-topic-accordion-sidebar-grandchild,
.as-topic-chapter-sidebar-accordion-quiz {
    background-color: #666666;
    color: #ffffff;
    max-width: 96%;
    padding: 18px;
    font-size: 18px;
    margin: 2px 0px 0px 40px;
    display: none;
}

.as-sildebar-chapter-list .as-section-accordion-sidebar-grand-grandchild,
.as-section-quiz-sidebar-accordion {
    background-color: #8AAAE5;
    color: #ffffff;
    max-width: 94%;
    padding: 18px;
    font-size: 18px;
    margin: 2px 0px 0px 60px;
    display: none;
}

.as-sildebar-chapter-list .as-lesson-accordion-sidebar-child .as-icon-title-wrapper-lesson,
.as-sildebar-chapter-list .as-topic-accordion-sidebar-grandchild .as-icon-title-wrapper-topic {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* verticle scrollbar css */
::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #666666;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.as-course-progressbar {
    padding-top: 40px;
}


/* accordion css */
.as-chapter-accordion-list {
    border: 1px solid #666666;
    margin: 30px 0px;
}

.as-chapter-accordion-list .as-chapter-accordion-parent,
.as-single-lesson-accordion,
.as-topic-single-page-accordion,
.as-section-single-page-accordion,
.as-single-chapter-page-label,
.as-chapter-quiz-accordion {
    background-color: #8AAAE5;
    color: #ffffff;
    cursor: default;
    padding: 18px;
    font-size: 18px;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.as-chapter-accordion-list .as-lesson-accordion-child,
.as-single-topic-accordion,
.as-section-topic-single-page-accordion,
.as-section-quiz-accordion,
.as-topic-lesson-single-page-accordion-quiz,
.as-single-chapter-lesson-quiz-accordion {
    background-color: #666666 !important;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    font-size: 18px;
    margin: 5px 0px 0px 28px;
}

.as-chapter-accordion-list .as-topic-accordion-grandchild,
.as-single-section-accordion,
.as-single-lesson-section-accordion,
.as-topic-chapter-single-page-accordion-quiz {
    background-color: #8AAAE5 !important;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    font-size: 18px;
    display: none;
    margin: 5px 0px 0px 56px;
}

.as-chapter-accordion-list .as-section-accordion-grand-grandchild,
.as-single-chapter-section-quiz-accordion {
    background-color: #666666 !important;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    font-size: 18px;
    display: none;
    margin: 5px 0px 0px 84px;
}

/* accordion css single page */

.as-single-topic-accordion,
.as-topic-lesson-single-page-accordion-quiz {
    margin: 5px 0px 0px 28px !important
}

/*dashboard*/
.as-dashboard {
    width: auto;
    height: auto;
    margin-left: 5rem;
}

.as-navbar.active+.as-dashboard {
    margin-left: 22%;
}

.as-dashboard-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* dahsboard next-previous css */
.as-next-pre-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.as-single-chaptre-pre-butt,
.as-single-chapter-next-butt,
.as-single-lesson-pre-butt,
.as-single-lesson-next-butt,
.as-single-topic-pre-butt,
.as-single-topic-next-butt,
.as-single-section-pre-butt,
.as-single-section-next-butt,
.as-clts-quiz-next-butt,
.as-clts-quiz-previous-butt {
    background: #8AAAE5;
    padding: 10px 14px;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.as-prev-d-none,
.as-prev-d-none:hover,
.as-next-d-none,
.as-next-d-none:hover {
    background: white;
    color: white;
    padding: 10px 14px;
    pointer-events: none;
    opacity: 0;
}



.as-single-chaptre-pre-butt a:hover,
.as-single-chapter-next-butt a:hover,
.as-single-lesson-pre-butt a:hover,
.as-single-lesson-next-butt a:hover,
.as-single-topic-pre-butt a:hover,
.as-single-topic-next-butt a:hover,
.as-single-section-pre-butt a:hover,
.as-single-section-next-butt a:hover {
    text-decoration: none;
    border: none;
    color: black;
}

/* single page desing topic & section*/
.as-single-chapter-continer,
.as-single-lesson-continer,
.as-single-topic-container,
.as-single-section-container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.as-single-chapter-header,
.as-single-lesson-header,
.as-single-topic-header,
.as-single-section-header,
.as-single-course-header {
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h2.as-single-chapter-title,
h2.as-single-lesson-title,
h2.as-single-topic-title,
h2.as-single-section-title,
h2.as-single-course-title {
    text-align: center;
    font-size: 46px;
    padding: 50px 0px;
    font-weight: 600;
    color: #333;
}

.as-single-chpater-content,
.as-single-lesson-content,
.as-single-topic-content,
.as-single-section-content {
    line-height: 1.6;
    color: #555;
    font-size: 1.1em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    box-sizing: border-box;
}

.as-single-chpater-content p,
.as-single-lesson-content p,
.as-single-topic-content p,
.as-single-section-content p {
    margin: 1em 0;
}

.as-single-chpater-content h2,
.as-single-chpater-content h3,
.as-single-chpater-content h4,
.as-single-lesson-content h2,
.as-single-lesson-content h3,
.as-single-lesson-content h4,
.as-single-topic-content h2,
.as-single-topic-content h3,
.as-single-topic-content h4,
.as-single-section-content h2,
.as-single-section-content h3,
.as-single-section-content h4 {
    margin-top: 1.5em;
    color: #333;
}

/* mark to read button */
.as-mark-complete-section-btn,
.as-mark-complete-topic-btn,
.as-mark-complete-lesson-btn,
.as-mark-complete-chapter-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
    display: none
}

.as-mark-complete-section-btn:hover,
.as-mark-complete-topic-btn:hover,
.as-mark-complete-lesson-btn:hover,
.as-mark-complete-chapter-btn:hover {
    background-color: #218838;
}

.as-progress-bar {
    width: 100%;
    background-color: #e9ecef;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0;
    height: 10px;
}

.as-progress-bar-fill {
    background-color: #28a745;
    height: 100%;
    width: 0;
    transition: width 0.3s ease;
}

.as-single-section-next-butt,
.as-single-topic-next-butt,
.as-single-lesson-next-butt,
.as-single-chapter-next-butt {
    display: none;
}

.as-single-section-pre-butt,
.as-next-d-none,
.as-prev-d-none {
    margin: 10px 0;
}

.fa-check {
    padding-right: 10px;
}

.as-course-uncompleted-message {
    color: #721c24;
}

.as-course-info-message {
    color: #0c5460;
}

.as-alert-info-message {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    position: relative;
}

.as-alert-error-message {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    position: relative;
}

.as-current-chapter-outside-course-btn,
.as-current-lesson-outside-chapter-btn,
.as-current-topic-outside-lesson-btn,
.as-current-section-outside-topic-btn {
    background-color: #0389ae;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
}

.as-section-single-page-accordion i,
.as-topic-single-page-accordion i,
.as-single-lesson-accordion i,
.as-single-chapter-page-label i {
    margin-right: 10px;
}

.as-section-single-page-accordion p,
.as-topic-single-page-accordion p,
.as-single-lesson-accordion p,
.as-single-chapter-page-label p {
    flex-grow: 1;
}

.as-dashboard .as-course-container .as-chapter-accordion-list .as-section-topic-single-page-accordion a,
.as-dashboard .as-course-container .as-chapter-accordion-list .as-single-topic-accordion .as-dashboard-content-wrapper a,
.as-dashboard .as-course-container .as-chapter-accordion-list .as-single-section-accordion a,
.as-dashboard .as-course-container .as-chapter-accordion-list .as-lesson-accordion-child .as-dashboard-content-wrapper a,
.as-dashboard .as-course-container .as-chapter-accordion-list .as-topic-accordion-grandchild .as-dashboard-content-wrapper a,
.as-dashboard .as-course-container .as-chapter-accordion-list .as-section-accordion-grand-grandchild a,
.as-navbar .as-navbar-container .as-sildebar-chapter-list .as-section-accordion-sidebar-grand-grandchild a div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.as-dashboard .as-course-container .as-course-image img,
.as-dashboard .as-course-container .as-single-chapter-continer .as-single-chapter-content img,
.as-dashboard .as-course-container .as-single-lesson-continer .as-single-lesson-content img,
.as-dashboard .as-course-container .as-single-topic-container .as-single-topic-content img {
    width: 100%;
    height: 100%;
}

/* tooltip css for sidebar*/
.as-scheduled-post-tooltip {
    position: relative;
    display: inline-block;
    flex: 1;
    padding-left: 20px;
}

.as-scheduled-post-tooltip .as-scheduled-post-tooltip-text {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin-bottom: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.as-scheduled-post-tooltip .as-tooltip-descktop-text {
    left: 0;
    right: unset;
}

.as-scheduled-post-tooltip-text {
    font-size: 12px;
}

.as-scheduled-post-tooltip:hover .as-scheduled-post-tooltip-text {
    visibility: visible;
}

/* ............................ course archive page design css ...............................*/
.as-course-cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.as-course-cards-container .as-course-card {
    width: 350px;
    margin: 65px 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.as-course-cards-container .as-course-card .as-course-card-header {
    position: relative;
}

.as-course-cards-container .as-course-card .as-course-card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0 0 15px 15px;
}

.as-course-cards-container .as-course-card .as-course-card-header .as-course-badge {
    display: inline-block;
    position: absolute;
    background-color: #ffbc2d;
    font-weight: 500;
    color: #000;
    left: 0;
    bottom: 20px;
    padding: 4px 10px 4px 20px;
}

.as-course-cards-container .as-course-card .as-course-card-header .as-course-badge span:after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 0 18px 20px;
    border-color: transparent transparent transparent #ffbd2d;
    top: 0;
    right: -20px;
}

.as-course-cards-container .as-course-card .as-course-card-header .as-registration-status {
    display: inline-block;
    position: absolute;
    color: #fff;
    background-color: #3ca118;
    font-weight: 500;
    right: 0;
    bottom: 20px;
    padding: 4px 15px 4px 30px;
}

.as-course-cards-container .as-course-card .as-course-card-header .as-registration-status b:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 16px solid #ffffffb8;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
}

.as-course-cards-container .as-course-card .as-course-card-body .as-course-languages-wraper,
.as-course-cards-container .as-course-card .as-course-card-body .as-course-collaborations-wraper,
.as-course-cards-container .as-course-card .as-course-card-body .as-course-user-count-wraper {
    display: flex;
    padding: 6px 0;
}

.as-course-cards-container .as-course-card .as-course-card-body .as-course-languages-wraper .fa-language,
.as-course-cards-container .as-course-card .as-course-card-body .as-course-collaborations-wraper .fa-handshake,
.as-course-cards-container .as-course-card .as-course-card-body .as-course-user-count-wraper .fa-thumbs-up {
    display: flex;
    align-items: center;
    padding-right: 16px;
    color: #5f9ea0;
}

.as-course-cards-container .as-course-card .as-course-card-body .as-course-collaborations-wraper.as-course-section-border,
.as-course-cards-container .as-course-card .as-course-card-body .as-course-user-count-wraper.as-course-section-border {
    border-top: solid 1px #6666662b;
}


.as-course-cards-container .as-course-card .as-course-card-body {
    padding: 0 20px 18px;
    flex-grow: 1;
}

.as-course-cards-container .as-course-card .as-course-card-body h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.as-course-cards-container .as-course-card .as-course-card-footer {
    padding: 8px;
    background-color: #fff;
    text-align: right;
}

.as-course-cards-container .as-course-card .as-course-card-footer p.as-course-future-label {
    padding: 12px 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    background-color: #5f9ea0;
    border-radius: 25px;
    color: #fff;
}

.as-course-cards-container .as-course-card .as-course-card-footer .as-course-button-user-login,
.as-course-cards-container .as-course-card .as-course-card-footer .as-course-button-user-enrollment,
.as-course-cards-container .as-course-card .as-course-card-footer .as-course-button-user-visit-course {
    background-color: #5f9ea0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

.as-chapter-content-wrapper,
.as-lesson-content-wrapper,
.as-topic-content-wrapper,
.as-section-content-wrapper {
    display: block;
}

/* .................... Single Quiz Page CSS ...........................*/
.as-quiz-container {
    max-width: 992px;
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.as-quiz-container .as-quiz-button,
.as-quiz-results .as-score-summary .as-review-answers,
.as-quiz-results .as-score-summary .as-restart-quizz {
    background-color: #2271b1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.as-quiz-container .as-quiz-button:hover,
.as-quiz-results .as-score-summary .as-review-answers:hover,
.as-quiz-results .as-score-summary .as-restart-quizz:hover {
    background-color: #2271b18e;
}

.as-quiz-container .as-quiz-questions .as-quiz-step .as-next-button-wrapper,
.as-quiz-container .as-quiz-questions .as-quiz-step .as-finish-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.as-quiz-container .as-quiz-questions .as-quiz-step h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.as-quiz-container .as-quiz-questions .as-quiz-step .as-quiz-options {
    list-style: none;
    padding-left: 0;
}

.as-quiz-container .as-quiz-questions .as-quiz-step .as-quiz-options li {
    margin-bottom: 10px;
    border: 1px solid #6666;
    padding: 10px 16px;
    border-radius: 8px;
}

.as-quiz-container .as-quiz-questions .as-quiz-step .as-quiz-options li .as-answer-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}

.as-quiz-container .as-quiz-questions .as-quiz-step .as-quiz-options .as-answer-selection.active {
    border: 2px solid #2271b1;
}

.as-quiz-container .as-quiz-questions .as-quiz-step .as-quiz-options li .as-answer-wrapper input[type="radio"] {
    appearance: none;
    border: 1px solid #d3d3d3;
    width: 18px;
    height: 18px;
    content: none;
    outline: none;
    border-radius: 100%;
    margin-top: 3px;
}

.as-quiz-container .as-quiz-questions .as-quiz-step .as-quiz-options li .as-answer-wrapper input[type="radio"]:checked {
    appearance: none;
    border-radius: 100%;
    outline: none;
    padding: 0;
    content: none;
    border: none;
}

.as-quiz-container .as-quiz-questions .as-quiz-step .as-quiz-options li .as-answer-wrapper input[type="radio"]:checked::before {
    position: absolute;
    background: #2271b1;
    accent-color: blue;
    border-radius: 100%;
    color: white !important;
    content: "\00A0\2713\00A0" !important;
    border: 1px solid #d3d3d3;
    font-weight: bolder;
    font-size: 13px;
}

.as-quiz-container .as-quiz-questions .as-quiz-step .as-quiz-options li .as-answer-wrapper input[type="checkbox"] {
    appearance: none;
    border: 1px solid #d3d3d3;
    width: 18px;
    height: 18px;
    content: none;
    outline: none;
    margin: 5px;
}

.as-quiz-container .as-quiz-questions .as-quiz-step .as-quiz-options li .as-answer-wrapper input[type="checkbox"]:checked {
    appearance: none;
    outline: none;
    padding: 0;
    content: none;
    border: none;
}

.as-quiz-container .as-quiz-questions .as-quiz-step .as-quiz-options li .as-answer-wrapper input[type="checkbox"]:checked::before {
    position: absolute;
    background: #2271b1;
    accent-color: blue;
    color: white !important;
    content: "\00A0\2713\00A0" !important;
    border: 1px solid #d3d3d3;
    font-weight: bolder;
    font-size: 13px;
}

.as-quiz-container .as-quiz-questions .as-quiz-step .as-next-button-wrapper button:disabled,
.as-quiz-container .as-quiz-questions .as-quiz-step .as-next-button-wrapper button[disabled],
.as-quiz-container .as-quiz-questions .as-quiz-step .as-finish-button-wrapper button:disabled,
.as-quiz-container .as-quiz-questions .as-quiz-step .as-finish-button-wrapper button[disabled] {
    border: 1px solid #6666;
    padding: 8px 48px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 24px;
    color: #6666;
    cursor: default;
}

.as-quiz-container .as-quiz-questions .as-quiz-step .as-next-button-wrapper button:disabled:hover,
.as-quiz-container .as-quiz-questions .as-quiz-step .as-next-button-wrapper button[disabled]:hover,
.as-quiz-container .as-quiz-questions .as-quiz-step .as-finish-button-wrapper button:disabled:hover,
.as-quiz-container .as-quiz-questions .as-quiz-step .as-finish-button-wrapper button[disabled]:hover {
    background-color: #ffff;
    color: #6666;
    cursor: default;
}

.as-quiz-container .as-quiz-questions .as-quiz-step .as-next-button-wrapper button,
.as-quiz-container .as-quiz-questions .as-quiz-step .as-finish-button-wrapper button {
    border: 2px solid #2271b1;
    padding: 8px 48px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 24px;
    color: #2271b1;
    transition: 0.4s;
}

.as-quiz-container .as-quiz-questions .as-quiz-step .as-next-button-wrapper button:hover,
.as-quiz-container .as-quiz-questions .as-quiz-step .as-finish-button-wrapper button:hover {
    background-color: #2271b1;
    transition: 0.4s;
    color: white;
}

/* .................... Loading Css ............. */
#as-overlay {
    width: 60px;
    aspect-ratio: 1;
    border: 15px solid #ddd;
    border-radius: 50%;
    position: relative;
    transform: rotate(45deg);
}

#as-overlay::before {
    content: "";
    position: absolute;
    inset: -15px;
    border-radius: 50%;
    border: 15px solid #2271b1;
    animation: l18 2s infinite linear;
}

@keyframes l18 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}

.as-quiz-container .as-overlay-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.as-quiz-results .as-score-summary .as-persantage-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 200px;
    border: solid 1px #6666;
    background-color: aliceblue;
}

.as-quiz-results .as-score-summary .as-review-answers-wrapper {
    margin-top: 45px;
    text-align: center;
}

.as-quiz-container .as-quiz-feedback-results-wrapper {
    padding-top: 20px;
}

.as-quiz-container .as-quiz-feedback-results-wrapper .as-question-feedback ul {
    padding: 0;
}

.as-quiz-container .as-quiz-timer {
    font-size: 18px;
    color: #2271b1;
    font-weight: bold;
    margin-bottom: 20px;
}

/* media query */
@media only screen and (max-width: 870px) {
    .as-navbar.active {
        max-width: 27%;
    }

    .as-navbar.active+.as-dashboard {
        margin-left: 30%;
    }
}

@media only screen and (max-width: 670px) {
    .as-navbar.active {
        min-width: 100%;
    }

    .as-navbar .as-navbar-container {
        position: relative;
        width: 100%;
    }
}